button:hover {
    background: linear-gradient(270deg,
            blue,
            rgb(0, 183, 255) 70%,
            rgb(53, 241, 179));
    color: rgb(253, 253, 253);
    transition: all 1s;
}


li:hover {
    color: #00f3bb;
    text-decoration: line-through;
}

/* li:active {
    text-decoration: line-through;
    color: rgba(6, 10, 36, 0.56);
} */