@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo {
    padding: 2%;
}
.principal-container {
    box-sizing: border-box;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
}

.menu {
    list-style-type: none;
    overflow: hidden;
}

.menu-mobile {
    display: none;
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    color: #060A24;
    padding-left: 130px;
}

.dot {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    color: #0000EC;
}

.info-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    width: 60%;
    margin-left: 130px;
}

.button {
    background-color: #00F3BB;
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 18px;
    width: 15%;
    margin-left: 10%;
    cursor: pointer;
}

.nav {
    list-style-type: none;
    margin-right: 0;
    flex-direction: row;
    padding: 20px;
    display: flex;
}

.nav-1 {
    margin-left: 2%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;

}

#primer-li {
    margin-left: 60%;

}

a {
    color: black;
    text-decoration: none;
}

a:visited, a:active{
    color:black;
  }  

button:hover {
    background: linear-gradient(270deg,
            blue,
            rgb(0, 183, 255) 70%,
            rgb(53, 241, 179));
    color: rgb(253, 253, 253);
    transition: all 1s;
}


li:hover {
    color: #00f3bb;
    text-decoration: line-through;
}




