@media screen and (max-width: 600px) {


    .logo {
        display: flex;
    }

    .title {
        font-size: 38px;
        padding-left: 0;
        line-height: 80%;
    }

    .info-title {
        width: 100%;
        margin: 1% 2%;

    }

    .menu-mobile {
        display: block;
        position: relative;

    }

    .menu {
        display: none;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid red;
        padding-left: 5px;
        padding-right: 5px;
    }
    #checkbox {
        display: none;
    }

    .line {
        border: 1px solid black;
        width: 80%;
        margin: 2px;
        background-color: black;
        margin-top: 13%;
    }

    .checkbox-boton {
        border: 2px solid black;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-radius: 5px;
    
    }

    #primer-li {
        margin-left: 1.5%;
    }

    .ul-mobile {
        list-style: none;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        transform: translateX(100%);
        transition: all 1s ease;

    }

    #checkbox {
        display: none;
    }

    .ul-mobile:checked {
        position: absolute;
        width: 100vw;
        transform: translateX(0%);
    }
        
    .ul-mobile a { 
        color: white;
        margin-left: 2%;
        margin-top: 1%;
    }

    .nav-mobile {
        display: none;
        margin-top: 20px;
        position: fixed;
        width: 100%;
        left: 0%;
        z-index: 1000;
    }

    #checkbox:checked~.nav-mobile {
        display: block;
    }


    .container-blue {
        height: 280%;
    }

    .celular {
        flex-direction: column;
    }

    .celular * {
        margin-top: 0;
        margin-left: 0;
    }

    .phone {
        margin-left: 0;
        margin-top: -30%;
    }



    .button-container {
        width: 90%;
        margin: 0 auto;
    }

    .button {
        width: 70%;
    }

    .title-invitados {
        margin-left: 0;
    }

    .imagenes {
        flex-direction: column;
    }

    .img-invitados {
        width: 100%;
    }

    .episodios {
        margin-left: 20%;
    }

    .spotify-container {
        padding-left: 0;
    }

    iframe {
        width: 85%;
    }

    .icono1 {
        flex-direction: column;
    }

    .temas {
        font-size: 36px;
    }

    .icono-tema {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        word-wrap: break-word;
        width: 300px;
        margin: 10px;
        text-align: center;
    }

    .novedades {
        font-size: 20px;
    }

    .button-2 {
        width: 50%;
    }

    .footer {
        flex-direction: column;
    }

    .icono2 {
        margin-top: 5%;
        justify-content: space-evenly;
    }

    .footer-message {
        margin-left: 32%;
    }



}