@media screen and (min-width: 601px) and (max-width: 900px) {




    iframe {
        width: 300px;
    }

    .button {
        width: 300px;
    }

    #primer-li {
        margin-left: 350px;
    }

    .container-blue {
        height: 900px;
    }

    .text {
        margin-left: 20px;
    }

    .nav {
        margin-left: -8%;

    }

    .nav-1 {
        margin-left: 3.5%;
    }
}